sphinx
sphinx-needs
matplotlib # for sphinx-needs
sphinx-immaterial
sphinx-rtd-theme
esbonio>=0.13.0
sphinx-preview

#sphinxcontrib.jquery
#sphinx-copybutton
#sphinxcontrib-programoutput
#sphinx-design
#click
#tabulate
